.justify-between {
  display: flex;
  justify-content: space-between;
}
.resume-main {
  border: 1px solid #ccc;
  margin: 15px 0;
}
.left-container,
.right-container {
  padding: 2%;
}
.left-container {
  width: 60%;
}
.right-container {
  background-color: #f7f4ff;
  width: 40%;
  margin: 10px 0;
}
.heading {
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
}
.contact-section ul {
  padding-left: 20px !important;
}
.heading,
.intro-heading {
  color: #3f51b5;
}
.education-section .college,
.year-cgpa-main {
  font-size: 15px;
  margin-bottom: 20px;
}
.education-section .college {
  font-weight: 600;
}
.education-section .year-cgpa-main {
  font-weight: bold;
}
.achievements ul li a {
  color: black;
}
.achievements ul li a:hover {
  text-decoration: underline;
  color: #3f51b5;
}
.google-certificate-link {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  /* color: #3f51b5; */
}
.language {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eeeeee;
  padding: 5px 15px;
  margin-bottom: 10px;
}
.language-title {
  font-weight: bold;
}
.language-level {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.interests-main {
  display: flex;
  flex-wrap: wrap;
}
.interest {
  background-color: #eeeeee;
  padding: 5px 15px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 45%;
}
